---
import Layout from '@layouts/page.astro';
import Footer from '@components/footer.astro';

import { Icon } from 'astro-icon';

import Header from '@components/home/header.md';
import Project from '@components/home/parallel.astro';
import Line from '@components/underline.astro';

import { readdir, readFile } from 'fs/promises';
import { join } from 'path';

interface Contributor {
  bold?: Boolean;
  link: string;
  name: string;
  role: string;
}

import other from '../parallel/other.json';

let projects = [];
const files = await readdir(join('src', 'parallel', 'projects'));

for (const file of files) {
  const pushed = await readFile(`src/parallel/projects/${file}`, 'utf-8');
  const parsed = JSON.parse(pushed);

  projects.push(parsed);
}
---

<Layout
  description="This site covers Guardians who contributed to Destiny 2 and/or its API in a meaningful way, and have received the Parallel Program emblem."
  siteName="parallel.report"
  title="Parallel Program Report"
>
  <Header />

  {
    projects.map((project) => {
      return (
        <Project class={project.title.replace(/\s+/g, '').toLowerCase()}>
          <h2 slot="project-name">
            <a href={project.site} title={project.title} target="_blank">
              {project.title}
              <Icon size={15} name="mdi:external-link" />
            </a>

            <img
              slot="project-icon"
              class="parallel-img"
              src={project.image.file}
              width={project.image.width}
              height={project.image.height}
              alt={`${project.title} Logo`}
              title={`${project.title} Logo`}
            />
          </h2>

          <p slot="project-description">{project.description}</p>

          <ul>
            {project.contributors.map((contributor: Contributor) => {
              return (
                <>
                  <li class:list={['contributor', { maintainer: contributor.bold }]}>
                    {/* prettier-ignore */}
                    <span>
                      <a href={contributor.link} title={contributor.name} target="_blank">{contributor.name}</a>: {project.prefix} {contributor.role}
                    </span>
                    {/* prettier-ignore */}
                  </li>
                </>
              );
            })}
          </ul>
        </Project>
      );
    })
  }

  <Line>Other resources</Line>
  <ul>
    {
      other.authors.map((author) => {
        return (
          /* prettier-ignore */ <li>
            <a href={author.link} title={author.name} target="_blank">{author.name}</a>:
            <a href={author.projects[0].link} title={author.projects[0].name} target="_blank">{author.projects[0].name}</a>,
            {author.projects[0].description}
          </li> /* prettier-ignore */
        );
      })
    }
  </ul>

  <Footer>
    <hr />
    <p>
      Destiny, Destiny 2, and the Destiny logo are registered trademarks of Bungie.
      <br />Some content and images are the property of Bungie.
    </p>

    <p>
      Compiled with the help of
      <b>
        <a href="https://bray.tech" title="Braytech" target="_blank">
          Braytech <Icon size={10} name="mdi:external-link" />
        </a>
      </b>
      and
      <b>
        <a href="https://destinyemblemcollector.com/" title="Destiny Emblem Collector" target="_blank"
          >Destiny Emblem Collector <Icon size={10} name="mdi:external-link" />
        </a>
      </b>
    </p>
  </Footer>

  <style>
    .maintainer {
      font-weight: bold;
    }
  </style>
</Layout>
