---
import Layout from '@layouts/Page.astro';

import Footer from '@components/Footer.astro';
import Link from '@components/Link.astro';
import Line from '@components/Underline.astro';

import Header from '@components/home/Header.md';
import Notice from '@components/home/Notice.md';

import type { Contributor, Resources } from '~/types';

import other from '../parallel/other.json';

const resources = await Astro.glob<Resources>('../parallel/resources/*.json');
---

<Layout
  description="This site covers Guardians who contributed to Destiny 2 and/or its API in a meaningful way, and have received the Parallel Program emblem."
  pageTitle="Parallel Program Report"
  title="Home | Parallel Program Report"
>
  <main class="content">
    <img
      class="mx-auto w-[100px] pb-5"
      src="/favicon.png"
      title="The Parallel Program emblem."
      alt="The Parallel Program emblem."
    />
    <Header />

    {
      resources.map((resource) => {
        return (
          <span class={`flex flex-col rounded-2xl border-[2px] ${resource.border} p-6`}>
            <img
              class="parallel-img"
              src={resource.image.file}
              height={resource.image.height}
              width={resource.image.width}
              alt={`Logo of ${resource.title}`}
              title={`Logo of ${resource.title}`}
            />

            <span class="resource-name text-3xl font-bold md:text-4xl">
              <Link
                color={resource.color}
                class="pt-2 text-3xl font-semibold"
                href={resource.site}
                title={resource.title}
                target="_blank"
              >
                {resource.title}
              </Link>
            </span>

            <span class="resource-description pb-5">{resource.description}</span>

            <hr class={resource.color} />

            <ul class="resource-contributors flex list-disc flex-col gap-1 pl-6 pb-2 pt-2">
              {resource.contributors.map((contributor: Contributor) => {
                return (
                  <>
                    <li class:list={['contributor', { maintainer: contributor.bold }]}>
                      <span>
                        <Link color={resource.color} href={contributor.link} title={contributor.name} target="_blank">
                          {contributor.name}
                        </Link>
                        — {contributor.role}
                      </span>
                    </li>
                  </>
                );
              })}
            </ul>
          </span>
        );
      })
    }

    <Line>Other resources</Line>
    <ul class="other-resources flex list-disc flex-col gap-2 pl-6 pb-5 pt-2">
      {
        other.authors.map((author) => {
          return (
            <li class={author.resources[0].name.replace(/\s+/g, '').toLowerCase()}>
              <Link href={author.link} title={author.name} target="_blank">
                {author.name}
              </Link>
              —
              <Link href={author.resources[0].link} title={author.resources[0].name} target="_blank">
                {author.resources[0].name}
              </Link>
              - {author.resources[0].description}
            </li>
          );
        })
      }
    </ul>

    <Footer>
      <hr class="pt-5 text-ctp-red" />
      <Notice />
    </Footer>
  </main>

  <style>
    .maintainer {
      @apply font-bold;
    }

    .resource-name,
    .resource-contributors {
      @apply font-display;
    }

    a[title='Destiny Recipes'],
    a[title='Guardian Theater'],
    a[title='Ishtar Commander'] {
      @apply text-[0.9em];
    }

    img[alt*='Logo of Ishtar Commander'] {
      @apply grayscale;
    }

    img[alt*='Logo of Ghost Overlay'] {
      @apply invert dark:invert-0;
    }
  </style>
</Layout>
