---
import { collections } from '@utils/keystatic';
import type { Resource } from '@utils/types';

interface Props {
  resource: Resource;
}

const { resource } = Astro.props;
---

<div class={`flex flex-col gap-1.5 rounded-xl border-[3px] p-6`} style={{ 'border-color': resource.color }}>
  {
    resource.icon && (
      <img src={resource.icon} width="50" height="50" alt={`Logo of ${resource.title}`} title={`Logo of ${resource.title}`} />
    )
  }

  <span class="text-3xl font-bold md:text-4xl">
    <a
      class="pt-2 text-3xl font-semibold"
      style={{ 'color': resource.color }}
      href={resource.link}
      title={`Click to view the website of ${resource.title}.`}
      target="_blank"
    >
      {resource.title}
    </a>
  </span>

  <p class="whitespace-pre-line">{resource.description}</p>

  {
    resource.inactive && (
      <span class="font-semibold text-ctp-red">Notice: This resource is marked inactive, and is thus no longer maintained.</span>
    )
  }

  <span class="flex flex-wrap gap-2 pb-2 pt-1">
    {
      resource.tags.map((tag) => {
        return (
          <a
            href={`/tags/${tag}`}
            class={`rounded-lg border px-2 py-0.5 font-medium text-ctp-base`}
            style={{ 'background-color': resource.color, 'border-color': resource.color }}
            title={`Resource tagged with "${tag}". Click to view other resources with this tag.`}
          >
            {tag}
          </a>
        );
      })
    }
  </span>

  <hr style={{ 'border-color': resource.color }} />

  <ul class="flex list-disc flex-col gap-1 pb-2 pl-6 pt-2">
    {
      resource.contributors.length > 0 ? (
        resource.contributors.map(async (_) => {
          const contributorData = await collections.contributors.read(_.contributor);
          const contributor = { ..._, ...contributorData };

          return (
            <li class="custom-bullet" style={{ '--bullet-color': resource.color }} class:list={{ 'font-bold': contributor.maintainer }}>
              <div class="flex flex-row gap-1.5">
                <a
                  style={{ 'color': resource.color }}
                  href={contributor.link}
                  target="_blank"
                  title={`A link to ${contributor.contributor}'s profile`}
                >
                  {contributor.contributor}
                </a>
                <span>— {contributor.role}</span>
              </div>
            </li>
          );
        })
      ) : (
        <li>No contributors found.</li>
      )
    }
  </ul>
</div>

<style>
  img[alt='Logo of DestinyTracker'] {
    @apply py-5;
  }

  img[alt*='Logo of Ishtar Commander'] {
    @apply grayscale;
  }

  img[alt*='Logo of Ghost Overlay'] {
    @apply py-1;
  }

  .custom-bullet::marker {
    color: var(--bullet-color);
  }
</style>
